<ul class="sidebar" >
<!-- sort in alphebetical order -->
    <p class="separator">Navigation</p>
    <li><a href="{{ "/cv/" | prepend: site.url }}">CV</a></li>
    <li><a href="{{ "/" | prepend: site.url }}">Research</a></li>
    <li><a href="{{ "/teachingstatement/" | prepend: site.url }}">Teaching</a></li>
    <!-- <li><a href="{{ "/archive.html" | prepend: site.url }}">Archive</a></li>-->
    <li><a href="{{ "/contact/" | prepend: site.url }}">Contact</a></li>
    <li><a href="{{ "/search/" | prepend: site.url }}">Search</a></li>
    <!-- <li><a href="{{ "/tags.html" | prepend: site.url }}">Tags</a></li>-->

    <a class="goto-top-link hide-on-phone" href="#top">
        <div class="goto-top text-center">
            <i class="fa fa-step-forward fa-rotate-270"></i>
        </div>
    </a>
</ul>
